<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" type="Console" layout="${longdate} ${message}"/>
    <!-- Define a file target to capture log messages -->
    <target name="log" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <!-- Define a rule to route log messages to the file target -->
    <logger name="*" minlevel="Trace" writeTo="log.log" />
  </rules>
</nlog>
